@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Special+Elite&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.doto-regular {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* background: rgb(183, 180, 234); */
  background: #e9d5ff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e9d5ff6c;
}
